<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPreferencesLabel">Create or edit a Preferences</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!preferences.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="preferences.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weeklyGoals">Weekly Goals</label>
            <input type="number" class="form-control" name="weeklyGoals" id="field_weeklyGoals"
                [(ngModel)]="preferences.weeklyGoals" required min="10" max="21"/>
            <div [hidden]="!(editForm.controls.weeklyGoals?.dirty && editForm.controls.weeklyGoals?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.weeklyGoals?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weeklyGoals?.errors?.min">
                    This field should be at least 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weeklyGoals?.errors?.max">
                    This field cannot be more than 21.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weeklyGoals?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weightUnit">Weight Unit</label>
            <select class="form-control" name="weightUnit" [(ngModel)]="preferences.weightUnit" id="field_weightUnit"  required>
                <option value="LBS">LBS</option>
                <option value="KG">KG</option>
            </select>
            <div [hidden]="!(editForm.controls.weightUnit?.dirty && editForm.controls.weightUnit?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.weightUnit?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="preferences.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
